* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: red;
  background-image: url(./img/background.jpg);
}
button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
}

.container {
  width: 500px;
  min-height: 100vh;
  background: white;
  box-shadow: 0 0 30px black;
  margin: 0px auto 0px auto;
  padding-bottom: 20px;
}

.flotante {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.8);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}

.flotante::before {
  content: "Likes: ";
}

.logo img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
}

.logo {
  margin: auto;
  width: 200px;
}

.search {
  text-align: center;
}

.search input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid grey;
}
.search button {
  margin-left: 5px;
  background: grey;
  color: white;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid grey;
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  margin: 20px;
  border: 2px solid grey;
  border-radius: 10px;
}

.card .title {
  padding: 20px;
}

.card .title .text {
  font-weight: bold;
  font-size: 20px;
}

.real-name::before {
  content: "(";
}
.real-name::after {
  content: ")";
}

.card .title .menu {
  font-size: 20px;
  float: right;
}

.card img {
  width: 100%;
}

.card .description {
  padding: 20px;
}

.card .media {
  padding: 20px;
  padding-bottom: 0px;
}

.card .media .icon {
  font-size: 25px;
  margin-right: 5px;
}

.comments-container {
  padding: 20px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  font-size: 14px;
}

.comment {
  margin-bottom: 10px;
}

.comment .user {
  font-weight: bold;
  color: darkblue;
}

.comment .user a {
  text-decoration: none;
  color: #000000;
}

.comment .user::before {
  content: "@";
  color: #000000;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .card-body {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-areas:
      "image media"
      "image description"
      "comments comments";
  }

  .image {
    grid-area: image;
  }

  .media {
    grid-area: media;
  }

  .description {
    grid-area: description;
  }

  .comments-container {
    grid-area: comments;
  }

  /* 
  tarea:
  hacer el grid de mitad y mitad
  si te sale investigar grid-area
  */
}

@media (min-width: 1024px) {
  .card .title .text {
    color: red;
  }

  .container {
    width: 1024px;
  }

  .card-body {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .image {
    padding-left: 15px;
    padding-bottom: 10px;
    /* Con flex: */
    /* width: 400px; */
    /* Sin flex: */
    /* display: inline-block; */
    /* vertical-align: top; */
  }

  .card-info {
    /* Con flex: */
    /* width: 570px; */
    /* Sin flex: */
    /* display: inline-block; */
    /* vertical-align: top; */
  }

  .card .media {
    padding-top: 0px;
  }
}
